# for openbb we need python 3.11
# this sometimes conflicts with newer packages

# TA-Lib
# edgartools
# magentic
# mem0ai

websockets
jupyter_client

anthropic
ipykernel
kaleido
langchain
langchain-openai
langchain-community
mcp
mcp[cli]
nbformat
newsapi-python
numpy
openai
openbb
pandas
pandas-ta
playwright
playwright-stealth
plotly
pydantic
python-dotenv
sec-api
sec-parser
selenium
streamlit
tiktoken
wikipedia
