# for openbb we need python 3.11
# this sometimes conflicts with newer packages

# TA-Lib
# edgartools
# magentic
# mem0ai
# newsapi-python
# streamlit

pip
setuptools
wheel

aiohttp
websockets
jupyter_client

# anthropic
ipykernel
# kaleido
# langchain
# langchain-openai
# langchain-anthropic
# langchain-community
mcp
# mcp[cli]
nbformat
numpy
openai
# openbb
pandas
playwright
playwright-stealth
plotly
pydantic
python-dotenv
sec-api
sec-parser
selenium
ta-lib
tiktoken
# wikipedia
html2text

wikipedia-mcp
yfinance
openbb
